﻿<div class="row hidden">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Search by day</h4>
                <h6 class="card-subtitle">Click on a day to filter</h6>
                <div class="col-md-12 col-lg-12">
                    <hr />
                </div>
                <div class="row button-group pad10tb">
                    <div class="col-lg-3 col-md-4">
                        <button type="button" class="btn btn-rounded btn-block btn-outline-danger">Monday</button>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <button type="button" class="btn btn-rounded btn-block btn-outline-danger">Tuesday</button>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <button type="button" class="btn btn-rounded btn-block btn-outline-danger">Wednesday</button>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <button type="button" class="btn btn-rounded btn-block btn-outline-danger">Thursday</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <hr />
                    </div>
                </div>
                <div class="row button-group ">
                    <div class="col-lg-4 col-md-4">
                        <button type="button" class="btn btn-rounded btn-block btn-outline-danger">Friday</button>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <button type="button" class="btn btn-rounded btn-block btn-outline-danger">Satruday</button>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <button type="button" class="btn btn-rounded btn-block btn-outline-danger">Sunday</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="padder">

</div>

<div class="searchArea">
    <small>This application is a protoype, as such, we strive for accuracy but the information below relyings of data retrieved from sources located on the bottom of the page. </small>
    <div class="row pad10tb pad10T">
        <div class="col-12">
            <div class="card">
                <div class="card-block-2">
                    <input id="locationSearch" class="card-subtitle form-control mrg0B" style="border:1px solid #fff; padding:1.25rem 1.25rem 1.0rem 1.25rem !important" placeholder="Search by suburb or postcode" />
                </div>
            </div>
        </div>
    </div>
    
    <div id="searchResults" class="row pad10tb">

    </div>
</div>

<div class="days">

</div>

<div class="templates">
    <div class="page-day">
        <!-- START Daily view -->
        <div class="row page-titles pad10tb">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-danger"><span class="content-dayName">NA</span>'s Dashboard</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" class="return-to-search">Return to search</a></li>
                    <li class="breadcrumb-item active content-dateFull">NA</li>
                </ol>
            </div>
            <div class="col-md-7 col-4 align-self-center">
                <div class="d-flex m-t-10 justify-content-end">
                    <div class="d-flex m-r-20 m-l-10">
                        <div class="chart-text m-r-10">
                            <h6 class="m-b-0"><small>State</small></h6>
                            <h4 class="m-t-0 text-danger content-state">NA</h4>
                        </div>
                        <div class="spark-chart">

                        </div>
                    </div>
                    <div class="d-flex m-r-20 m-l-10">
                        <div class="chart-text m-r-10">
                            <h6 class="m-b-0"><small>Suburb</small></h6>
                            <h4 class="m-t-0 text-danger content-suburb">NA</h4>
                        </div>
                        <div class="spark-chart">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-block">
                        <div class="d-flex flex-row">
                            <div class="round round-lg align-self-center round-success"><i class="fa fa-thermometer-half"></i></div>
                            <div class="m-l-10 align-self-center">
                                <h3 class="m-b-0 font-light">Max Temp</h3>
                                <h5 class="text-success m-b-0 content-maxTemp">NA</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-block">
                        <div class="d-flex flex-row">
                            <div class="round round-lg align-self-center round-info"><i class="fa fa-flag"></i></div>
                            <div class="m-l-10 align-self-center">
                                <h3 class="m-b-0 font-lgiht">Max Wind</h3>
                                <h5 class="text-info m-b-0 content-maxWind">NA</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-block">
                        <div class="d-flex flex-row">
                            <div class="round round-lg align-self-center round-warning"><i class="fa fa-bar-chart"></i></div>
                            <div class="m-l-10 align-self-center">
                                <h3 class="m-b-0 font-lgiht">Max FDI</h3>
                                <h5 class="text-warning m-b-0 content-maxFDI">NA</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-block">
                        <div class="d-flex flex-row">
                            <div class="round round-lg align-self-center round-danger"><i class="fa fa-star-half-o"></i></div>
                            <div class="m-l-10 align-self-center">
                                <h3 class="m-b-0 font-lgiht">Max FDR</h3>
                                <h5 class="text-danger m-b-0 content-maxFDR">NA</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
        <div class="row">
            <!-- Column -->
            <div class="col-lg-4 col-xlg-3 col-md-5">
                <div class="card blog-widget" style="margin-top:26px;">
                    <div class="card-block">
                        <div class="blog-image fire-image"></div>
                        <h3><U><span class="content-dayName">Monday</span>'s</U> Expected Burn Conditions</h3>
                        <label class="label label-rounded label-info label-fire-rating">Fire Danger Rating - SEVERE</label>
                        <label class="label label-rounded label-light-warning label-fire-ranges b-t">50-74</label>
                        <div class="b-t mrg30T mrg30B"></div>
                        <p style="margin-bottom: 1.5rem">
                            A Fire Danger Rating level takes into account current and antecedent weather, fuel types, and both live and dead fuel moisture.
                        </p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-8 col-xlg-9 col-md-7">
                <div class="card">
                    <div class="card-block">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title"><span class="content-dayName">Monday</span>'s FDI Forecast</h3>
                                <h6 class="card-subtitle"><span class="content-dayName">Monday</span>'s fire index indicator</h6>
                            </div>
                            <div class="ml-auto align-self-center">
                                <ul class="list-inline m-b-0">
                                    <li>
                                        <h6 class="text-muted text-warning"><i class="fa fa-circle font-10 m-r-10"></i>Fire Index</h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="campaign ct-charts">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        <div class="table-responsive table-container">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>c1</th>
                                        <th>c2</th>
                                        <th>c3</th>
                                        <th>c4</th>
                                        <th>c5</th>
                                        <th>c6</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>26589</td>
                                        <td>data</td>
                                        <td><span class="text-muted"><i class="fa fa-exclamation-triangle"></i>warning</span> </td>
                                        <td>45.00</td>
                                        <td>
                                            <div class="label label-table label-success">LOW</div>
                                        </td>
                                        <td>EN</td>
                                    </tr>
                                    <tr>
                                        <td>26589</td>
                                        <td>data</td>
                                        <td><span class="text-muted"><i class="fa fa-exclamation-triangle"></i>warning</span> </td>
                                        <td>45.00</td>
                                        <td>
                                            <div class="label label-table label-danger">EXTREME</div>
                                        </td>
                                        <td>EN</td>
                                    </tr>
                                    <tr>
                                        <td>26589</td>
                                        <td>data</td>
                                        <td><span class="text-muted"><i class="fa fa-exclamation-triangle"></i>warning</span> </td>
                                        <td>45.00</td>
                                        <td>
                                            <div class="label label-table label-warning">SEVERE</div>
                                        </td>
                                        <td>EN</td>
                                    </tr>
                                    <tr>
                                        <td>26589</td>
                                        <td>data</td>
                                        <td><span class="text-muted"><i class="fa fa-exclamation-triangle"></i>warning</span> </td>
                                        <td>45.00</td>
                                        <td>
                                            <div class="label label-table label-info">HIGH</div>
                                        </td>
                                        <td>EN</td>
                                    </tr>
                                    <tr>
                                        <td>26589</td>
                                        <td>data</td>
                                        <td><span class="text-muted"><i class="fa fa-exclamation-triangle"></i>warning</span> </td>
                                        <td>45.00</td>
                                        <td>
                                            <div class="label label-table label-success">LOW</div>
                                        </td>
                                        <td>EN</td>
                                    </tr>
                                    <tr>
                                        <td>26589</td>
                                        <td>data</td>
                                        <td><span class="text-muted"><i class="fa fa-exclamation-triangle"></i>warning</span> </td>
                                        <td>45.00</td>
                                        <td>
                                            <div class="label label-table label-success">LOW</div>
                                        </td>
                                        <td>EN</td>
                                    </tr>
                                    <tr>
                                        <td>26589</td>
                                        <td>data</td>
                                        <td><span class="text-muted"><i class="fa fa-exclamation-triangle"></i>warning</span> </td>
                                        <td>45.00</td>
                                        <td>
                                            <div class="label label-table label-success">LOW</div>
                                        </td>
                                        <td>EN</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Daily view -->
    <!-- START Week view -->
    <!-- END Week view -->


    <div class="row">
        <div class="col-md-4 col-lg-3 template-card-small">
            <div class="card card-block label-light-danger" style="padding:0.75em; background-color: #fff">
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col p-r-0 align-self-center">
                        <h3 class="font- m-b-0 header label-light-danger" style="background-color: #fff">value</h3>
                        <h6 class="text-muted description label-light-danger" style="background-color: #fff">value</h6>
                    </div>
                    <!-- Column -->
                    <div class="col text-right align-self-center">
                        <div data-label="60%" class="css-bar m-b-0 css-bar-danger css-bar-60"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pad10tb template-daily-overview">
            <div class="col-lg-8">
                <div class="card card-right">
                    <div class="card-block ">
                        <h4 class="card-title title"></h4>
                        <h6 class="card-subtitle subtitle"></h6>
                        <div class="row">
                            <div class="table">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-right">
                    <div class="card-block">
                        <h3 class="card-title">This is a heading</h3>
                        <h6 class="card-subtitle">This is some informational text to tell you about things</h6>
                    </div>
                </div>
            </div>
        </div>


        
        <img class="fire-image-0 fire-pic" src="~/images/0_480.png" />
        <img class="fire-image-1 fire-pic" src="~/images/1_480.png" />
        <img class="fire-image-2 fire-pic" src="~/images/2_480.png" />
        <img class="fire-image-3 fire-pic" src="~/images/3_480.png" />
        <img class="fire-image-4 fire-pic" src="~/images/4_480.png" />
        <img class="fire-image-5 fire-pic" src="~/images/5_480.png" />
        <img class="fire-image-6 fire-pic" src="~/images/6_480.png" />
        <img class="fire-image-7 fire-pic" src="~/images/7_480.png" />
    </div>
</div>
