﻿<!DOCTYPE html>
<html  class="bg-color-3">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/js/app.js"></script>
    <script src="~/js/graphHelper.js"></script>
    <script src="~/js/elementHelper.js"></script>
    <script src="~/js/pageSetup.js"></script>
    <script src="~/js/searchScript.js"></script>
    <script src="~/js/overview.js"></script>

    <script src="~/vendor/bootstrap-select.min.js"></script>
    <link href="~/vendor/bootstrap-select.min.css" rel="stylesheet" />

    <script src="~/vendor/chartist.js"></script>
    <link href="~/vendor/chartist.css" rel="stylesheet" />
    <link href="~/css/helper.css" rel="stylesheet" />
    <link href="~/Content/helper.css" rel="stylesheet" />

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body class="bg-color-3">

        <nav class="topbar top-navbar navbar navbar-light bg-faded navbar-toggleable-md bg-color-1">
            <div class="container">
                <i class="fa fa-fire fa-4x" style="color:white" aria-hidden="true"><a class="navbar-brand" href="#"></a></i><h2 class="mrg0B" style="color:white">Project Fahrenheit 4701</h2>
            </div>
        </nav>

        <div class="bg-color-3 pad40T">
            <div class="container">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Project Fahrenheit 4701
                    <br/>
                        <small>
                            Except to the extent that such warranties or representations are implied by law and cannot be excluded, Project Fahrenheit 4701 makes no warranty or representation regarding the quality, currency, accuracy, reliability, performance, completeness or fitness for purpose of any part of the information and content on this site, or on any pages or sites linked to this site.

                            In particular, Project Fahrenheit 4701 does not represent or warrant that the information and content on this site, or the facilities that make it available, will not cause damage, or are free from any computer virus or any other defects or errors, or that your access to the site will be uninterrupted. To the maximum extent permitted by law, Project Fahrenheit 4701 and their respective partners and parent companies are not liable (whether in contract, negligence or otherwise) for any loss or damage arising from the use of this content and information.



                        </small>
<hr/>
                        Key data used by Project Fahrenheit 4701 is Copyright © Australian Bureau of Meteorology:
                        <ul style="list-style:none;">
                            <li>


                                <a href="https://developer.bom.gov.au/catalogue/search-location/">Australian Government Bureau of Meteorology Search Location API</a>
                            </li>
                            <li>
                                <a href="https://developer.bom.gov.au/catalogue/gridded-forecast/">Australian Government Bureau of Meteorology Grid Forecasts API</a>
                            </li>
                            <li>
                                <a href="http://www.bom.gov.au/places/qld/frenchville/forecast/detailed/">Australian Government Bureau of Meteorology Detailed 3-Hourly Forecast Pages such as the following:</a>
                            </li>

                        </ul>
                    </p>
                </footer>
            </div>
        </div>
</body>
</html>