﻿
.padder {
    padding-top:20px;
}
@media (max-width: 767px){
    .padder {
        padding-top: 120px;
    }
}

.templates {
    display:none;

}

.textbox-main {

}


.fire-pic {
    width: 100% !important;
}
.table {
    font-size:12px;
}

.hidden {display:none;}

.table td {
    color: black !important;
}
.table th {
    color: black !important;
    font-weight:bold;
}
 
.bg-color-1 {
    background-color: #e70000;
}
.bg-color-2 {
    background-color: #37DD6F;
}
.bg-color-3 {
    background-color: #EEF5F9;
}
.bg-color-4 {
    background-color: #FF2800;
}

.bg-white {
    background-color:white;
}

.color-high > label {
    color: red;
}

.color-low > label {
    color: blue;
}

.ct-chart{
    /*height:320px;*/
}

.level-row {
    padding:8px;
}

.level > label {
    padding:2px;
    padding-left:8px;
    padding-right:8px;
    min-width:80%;
    border-radius:4px;
    text-align: center;
}

.level-low > label {
    background-color: #37DD6F;
}
.level-header, .level-day {
    font-weight: bold;
}


.level-moderate > label {
    background-color: #00BB3F;
}

.level-high > label {
    background-color: lightblue;
}

.level-veryhigh > label {
    background-color: yellow;
}

.level-severe > label {
    background-color: orange;
}

.level-extreme > label {
    background-color: red;
}

.level-catastrophic > label {
    background-color: darkred;
    color: white;
}