﻿.pad20TB {
    padding: 10px 0px 10px 0px !important;
}

.pad0A {
    padding: 0px !important;
}

.pad5A {
    padding: 5px !important;
}

.pad10A {
    padding: 10px !important;
}

.pad15A {
    padding: 15px !important;
}

.pad20A {
    padding: 20px !important;
}

.pad25A {
    padding: 25px !important;
}

.pad30A {
    padding: 30px !important;
}

.pad35A {
    padding: 35px !important;
}

.pad40A {
    padding: 40px !important;
}

.pad45A {
    padding: 45px !important;
}

.pad50A {
    padding: 50px !important;
}

.pad55A {
    padding: 55px !important;
}

.pad60A {
    padding: 60px !important;
}

.pad65A {
    padding: 65px !important;
}

.pad70A {
    padding: 70px !important;
}

.pad75A {
    padding: 75px !important;
}

.pad80A {
    padding: 80px !important;
}

.pad85A {
    padding: 85px !important;
}

.pad90A {
    padding: 90px !important;
}

.pad95A {
    padding: 95px !important;
}

.pad100A {
    padding: 100px !important;
}

.pad0B {
    padding-bottom: 0px !important;
}

.pad5B {
    padding-bottom: 5px !important;
}

.pad10B {
    padding-bottom: 10px !important;
}

.pad15B {
    padding-bottom: 15px !important;
}

.pad20B {
    padding-bottom: 20px !important;
}

.pad25B {
    padding-bottom: 25px !important;
}

.pad30B {
    padding-bottom: 30px !important;
}

.pad35B {
    padding-bottom: 35px !important;
}

.pad40B {
    padding-bottom: 40px !important;
}

.pad45B {
    padding-bottom: 45px !important;
}

.pad50B {
    padding-bottom: 50px !important;
}

.pad55B {
    padding-bottom: 55px !important;
}

.pad60B {
    padding-bottom: 60px !important;
}

.pad65B {
    padding-bottom: 65px !important;
}

.pad70B {
    padding-bottom: 70px !important;
}

.pad75B {
    padding-bottom: 75px !important;
}

.pad80B {
    padding-bottom: 80px !important;
}

.pad85B {
    padding-bottom: 85px !important;
}

.pad90B {
    padding-bottom: 90px !important;
}

.pad95B {
    padding-bottom: 95px !important;
}

.pad100B {
    padding-bottom: 100px !important;
}

.pad0T {
    padding-top: 0px !important;
}

.pad5T {
    padding-top: 5px !important;
}

.pad10T {
    padding-top: 10px !important;
}

.pad15T {
    padding-top: 15px !important;
}

.pad20T {
    padding-top: 20px !important;
}

.pad25T {
    padding-top: 25px !important;
}

.pad30T {
    padding-top: 30px !important;
}

.pad35T {
    padding-top: 35px !important;
}

.pad40T {
    padding-top: 40px !important;
}

.pad45T {
    padding-top: 45px !important;
}

.pad50T {
    padding-top: 50px !important;
}

.pad55T {
    padding-top: 55px !important;
}

.pad60T {
    padding-top: 60px !important;
}

.pad65T {
    padding-top: 65px !important;
}

.pad70T {
    padding-top: 70px !important;
}

.pad75T {
    padding-top: 75px !important;
}

.pad80T {
    padding-top: 80px !important;
}

.pad85T {
    padding-top: 85px !important;
}

.pad90T {
    padding-top: 90px !important;
}

.pad95T {
    padding-top: 95px !important;
}

.pad100T {
    padding-top: 100px !important;
}


.pad0R {
    padding-right: 0px !important;
}

.pad5R {
    padding-right: 5px !important;
}

.pad10R {
    padding-right: 10px !important;
}

.pad15R {
    padding-right: 15px !important;
}

.pad20R {
    padding-right: 20px !important;
}

.pad25R {
    padding-right: 25px !important;
}

.pad30R {
    padding-right: 30px !important;
}

.pad35R {
    padding-right: 35px !important;
}

.pad40R {
    padding-right: 40px !important;
}

.pad45R {
    padding-right: 45px !important;
}

.pad50R {
    padding-right: 50px !important;
}

.pad55R {
    padding-right: 55px !important;
}

.pad60R {
    padding-right: 60px !important;
}

.pad65R {
    padding-right: 65px !important;
}

.pad70R {
    padding-right: 70px !important;
}

.pad75R {
    padding-right: 75px !important;
}

.pad80R {
    padding-right: 80px !important;
}

.pad85R {
    padding-right: 85px !important;
}

.pad90R {
    padding-right: 90px !important;
}

.pad95R {
    padding-right: 95px !important;
}

.pad100R {
    padding-right: 100px !important;
}

.pad0L {
    padding-left: 0px !important;
}

.pad5L {
    padding-left: 5px !important;
}

.pad10L {
    padding-left: 10px !important;
}

.pad15L {
    padding-left: 15px !important;
}

.pad20L {
    padding-left: 20px !important;
}

.pad25L {
    padding-left: 25px !important;
}

.pad30L {
    padding-left: 30px !important;
}

.pad35L {
    padding-left: 35px !important;
}

.pad40L {
    padding-left: 40px !important;
}

.pad45L {
    padding-left: 45px !important;
}

.pad50L {
    padding-left: 50px !important;
}

.pad55L {
    padding-left: 55px !important;
}

.pad60L {
    padding-left: 60px !important;
}

.pad65L {
    padding-left: 65px !important;
}

.pad70L {
    padding-left: 70px !important;
}

.pad75L {
    padding-left: 75px !important;
}

.pad80L {
    padding-left: 80px !important;
}

.pad85L {
    padding-left: 85px !important;
}

.pad90L {
    padding-left: 90px !important;
}

.pad95L {
    padding-left: 95px !important;
}

.pad100L {
    padding-left: 100px !important;
}

/*
    MARGIN
 */

.mrg0A {
    margin: 0px !important;
}

.mrg5A {
    margin: 5px !important;
}

.mrg10A {
    margin: 10px !important;
}

.mrg15A {
    margin: 15px !important;
}

.mrg20A {
    margin: 20px !important;
}

.mrg25A {
    margin: 25px !important;
}

.mrg30A {
    margin: 30px !important;
}

.mrg35A {
    margin: 35px !important;
}

.mrg40A {
    margin: 40px !important;
}

.mrg45A {
    margin: 45px !important;
}

.mrg50A {
    margin: 50px !important;
}

.mrg55A {
    margin: 55px !important;
}

.mrg60A {
    margin: 60px !important;
}

.mrg65A {
    margin: 65px !important;
}

.mrg70A {
    margin: 70px !important;
}

.mrg75A {
    margin: 75px !important;
}

.mrg80A {
    margin: 80px !important;
}

.mrg85A {
    margin: 85px !important;
}

.mrg90A {
    margin: 90px !important;
}

.mrg95A {
    margin: 95px !important;
}

.mrg100A {
    margin: 100px !important;
}

.mrg0R {
    margin-right: 0px !important;
}

.mrg5R {
    margin-right: 5px !important;
}

.mrg10R {
    margin-right: 10px !important;
}

.mrg15R {
    margin-right: 15px !important;
}

.mrg20R {
    margin-right: 20px !important;
}

.mrg25R {
    margin-right: 25px !important;
}

.mrg30R {
    margin-right: 30px !important;
}

.mrg35R {
    margin-right: 35px !important;
}

.mrg40R {
    margin-right: 40px !important;
}

.mrg45R {
    margin-right: 45px !important;
}

.mrg50R {
    margin-right: 50px !important;
}

.mrg55R {
    margin-right: 55px !important;
}

.mrg60R {
    margin-right: 60px !important;
}

.mrg65R {
    margin-right: 65px !important;
}

.mrg70R {
    margin-right: 70px !important;
}

.mrg75R {
    margin-right: 75px !important;
}

.mrg80R {
    margin-right: 80px !important;
}

.mrg85R {
    margin-right: 85px !important;
}

.mrg90R {
    margin-right: 90px !important;
}

.mrg95R {
    margin-right: 95px !important;
}

.mrg100R {
    margin-right: 100px !important;
}

.mrg0L {
    margin-left: 0px !important;
}

.mrg5L {
    margin-left: 5px !important;
}

.mrg10L {
    margin-left: 10px !important;
}

.mrg15L {
    margin-left: 15px !important;
}

.mrg20L {
    margin-left: 20px !important;
}

.mrg25L {
    margin-left: 25px !important;
}

.mrg30L {
    margin-left: 30px !important;
}

.mrg35L {
    margin-left: 35px !important;
}

.mrg40L {
    margin-left: 40px !important;
}

.mrg45L {
    margin-left: 45px !important;
}

.mrg50L {
    margin-left: 50px !important;
}

.mrg55L {
    margin-left: 55px !important;
}

.mrg60L {
    margin-left: 60px !important;
}

.mrg65L {
    margin-left: 65px !important;
}

.mrg70L {
    margin-left: 70px !important;
}

.mrg75L {
    margin-left: 75px !important;
}

.mrg80L {
    margin-left: 80px !important;
}

.mrg85L {
    margin-left: 85px !important;
}

.mrg90L {
    margin-left: 90px !important;
}

.mrg95L {
    margin-left: 95px !important;
}

.mrg100L {
    margin-left: 100px !important;
}

.mrg0T {
    margin-top: 0px !important;
}

.mrg5T {
    margin-top: 5px !important;
}

.mrg10T {
    margin-top: 10px !important;
}

.mrg15T {
    margin-top: 15px !important;
}

.mrg20T {
    margin-top: 20px !important;
}

.mrg25T {
    margin-top: 25px !important;
}

.mrg30T {
    margin-top: 30px !important;
}

.mrg35T {
    margin-top: 35px !important;
}

.mrg40T {
    margin-top: 40px !important;
}

.mrg45T {
    margin-top: 45px !important;
}

.mrg50T {
    margin-top: 50px !important;
}

.mrg55T {
    margin-top: 55px !important;
}

.mrg60T {
    margin-top: 60px !important;
}

.mrg65T {
    margin-top: 65px !important;
}

.mrg70T {
    margin-top: 70px !important;
}

.mrg75T {
    margin-top: 75px !important;
}

.mrg80T {
    margin-top: 80px !important;
}

.mrg85T {
    margin-top: 85px !important;
}

.mrg90T {
    margin-top: 90px !important;
}

.mrg95T {
    margin-top: 95px !important;
}

.mrg100T {
    margin-top: 100px !important;
}

.mrg0B {
    margin-bottom: 0px !important;
}

.mrg5B {
    margin-bottom: 5px !important;
}

.mrg10B {
    margin-bottom: 10px !important;
}

.mrg15B {
    margin-bottom: 15px !important;
}

.mrg20B {
    margin-bottom: 20px !important;
}

.mrg25B {
    margin-bottom: 25px !important;
}

.mrg30B {
    margin-bottom: 30px !important;
}

.mrg35B {
    margin-bottom: 35px !important;
}

.mrg40B {
    margin-bottom: 40px !important;
}

.mrg45B {
    margin-bottom: 45px !important;
}

.mrg50B {
    margin-bottom: 50px !important;
}

.mrg55B {
    margin-bottom: 55px !important;
}

.mrg60B {
    margin-bottom: 60px !important;
}

.mrg65B {
    margin-bottom: 65px !important;
}

.mrg70B {
    margin-bottom: 70px !important;
}

.mrg75B {
    margin-bottom: 75px !important;
}

.mrg80B {
    margin-bottom: 80px !important;
}

.mrg85B {
    margin-bottom: 85px !important;
}

.mrg90B {
    margin-bottom: 90px !important;
}

.mrg95B {
    margin-bottom: 95px !important;
}

.mrg100B {
    margin-bottom: 100px !important;
}

.rounded2 {
    border-radius: 2px !important;
}

.rounded4 {
    border-radius: 4px !important;
}

.rounded8 {
    border-radius: 8px !important;
}

.rounded16 {
    border-radius: 16px !important;
}

.rounded32 {
    border-radius: 32px !important;
}

.rounded64 {
    border-radius: 64px !important;
}


.border2, .border {
    border-style: solid;
}

.border {
    border-width: 1px;
}

.border2 {
    border-width: 2px;
}

.border-primary {
    border-color: #0275d8;
}

.border-success {
    border-color: #5cb85c;
}

.border-info {
    border-color: #5bc0de;
}

.border-warning {
    border-color: #f0ad4e;
}

.border-danger {
    border-color: #d9534f;
}

.border-inverse {
    border-color: #292b2c;
}

.border-faded {
    border-color: #DDDDDD;
}

.border-hover-primary:hover {
    border-color: #0275d8 !important;
}

.border-hover-success:hover {
    border-color: #5cb85c !important;
}

.border-hover-info:hover {
    border-color: #5bc0de !important;
}

.border-hover-warning:hover {
    border-color: #f0ad4e !important;
}

.border-hover-danger:hover {
    border-color: #d9534f !important;
}

.border-hover-inverse:hover {
    border-color: #292b2c !important;
}

.border-hover-faded:hover {
    border-color: #DDDDDD !important;
}

.hover-primary:hover {
    background-color: #0275d8 !important;
}

.hover-success:hover {
    background-color: #5cb85c !important;
}

.hover-info:hover {
    background-color: #5bc0de !important;
}

.hover-warning:hover {
    background-color: #f0ad4e !important;
}

.hover-danger:hover {
    background-color: #d9534f !important;
}

.hover-inverse:hover {
    background-color: #292b2c !important;
}

.hover-faded:hover {
    background-color: #DDDDDD !important;
}



.text-black {
    color: #000 !important;
}

.text-cqu-light {
    color: #60819E;
}

.text-muted-more {
    color: #C2C7CA !important;
}

.text-cqu {
    color: #C6D601;
}


.text-cqu-dark {
    color: #1C3553;
}

.bg-cqu-light {
    background-color: #60819E;
}

.bg-cqu {
    background-color: #C6D601;
}


.bg-cqu-dark {
    background-color: #1C3553;
}



.clickable {
    cursor: pointer;
}

.fade-1000 {
    -o-transition: 1s;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
}

.text-white a {
    color: #FAFAFA !important;
    font-style: italic;
}

.fade-500 {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.fade-250 {
    -o-transition: .25s;
    -ms-transition: .25s;
    -moz-transition: .25s;
    -webkit-transition: .25s;
    transition: .25s;
}

.fade-200 {
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
}

.fade-150 {
    -o-transition: .15s;
    -ms-transition: .15s;
    -moz-transition: .15s;
    -webkit-transition: .15s;
    transition: .15s;
}

.fade-100 {
    -o-transition: .1s;
    -ms-transition: .1s;
    -moz-transition: .1s;
    -webkit-transition: .1s;
    transition: .1s;
}

.font-size-14 {
    font-size: 14px;
}

/*
    Extra Small and above
 */
.text-size-xx-small {
    font-size: 0.5em !important;
}

.text-size-x-small {
    font-size: 0.75em !important;
}

.text-size-smaller {
    font-size: 0.8em !important;
}

.text-size-small {
    font-size: 1em !important;
}

.text-size-medium {
    font-size: 1.25em !important;
}

.text-size-large {
    font-size: 1.5em !important;
}

.text-size-larger {
    font-size: 1.75em !important;
}

.text-size-x-large {
    font-size: 2em !important;
}

.text-size-xx-large {
    font-size: 2.5em !important;
}


.word-wrap-break {
    word-wrap: break-word;
}
